<div class="container">
  <% if user_signed_in? && current_user.id == @listing.user.id %>
    <h2 class="mb-4 host-mode">Host</h2>
  <% end %>

  <div class="p-0 mt-3">
    <div class="container-listing-top">
      <h2 class="mb-1"><%= @listing.name %></h2>
    </div>
    <div class='d-flex flex-row justify-content-between'>
      <div>
        <p>
          <span style="font-size: 18px"><i class="fas fa-map-marker-alt"></i></span>&nbsp;<%= @listing.address %>
        </p>
      </div>
      <div>
        <% if user_signed_in? && current_user.id == @listing.user.id %>
          <%= link_to(edit_listing_path(@listing), class: "text-decoration-none login-link ml-1 mr-2", style: "color: lime;") do %>
            <i class="far fa-edit"> Edit Listing</i>
          <% end %>
          <%= link_to(listing_path(@listing),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "text-decoration-none login-link m-0",
            style: "color: red;") do %>
            <i class="far fa-trash-alt px-2"> Delete Listing</i>
          <% end %>
        <% end %>
        <i class="far fa-share-square px-2"> Share</i>
        <i class="far fa-heart px-2"> Save</i>
      </div>
    </div>
  </div>
  <div class="m-0 p-0 container cb">
    <% if @listing.photos.length > 1 %>
      <div class="m-0 row photos">
        <%= render "photos", listing: @listing %>
      </div>
    <% else %>
      <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80", style="width: auto; height: 400px; border-radius: 5px" class="img-fluid" alt="dummy-img">
      <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80", style="width: auto; height: 400px; border-radius: 5px" class="img-fluid" alt="dummy-img">
    <% end %>
  </div>
  <div class="container my-2 p-0">
    <div class="d-flex flex-row justify-content-between align-items-center border-bottom">
      <div class="container-host-details p-0 mt-2">
        <h5>
        <span style="font-size: 18px"><i class="fas fa-laptop-house fa-fw"></i></span><%= " Space hosted by "%><span class="owner-details"><%= "#{@listing.user.first_name}" %></span>
        </h5>
        <p>
        <span style="font-size: 18px"><i class="fas fa-house-user fa-fw"></i></span><span class="owner-details"><%= " #{@listing.capacity}" %></span><%= " professionals" %>
        </p>
      </div>
      <div class="mx-4">
        <% if @listing.user.photo.key %>
            <%= cl_image_tag @listing.user.photo.key, class: "avatar" %>
        <% else %>
            <%= image_tag "default_user.png", class: "avatar" %>
        <% end %>
      </div>
    </div>
    <div class="py-2 border-bottom">
      <p><%= @listing.description %></p>
    </div>
  </div>

  <h3 id="date-select-label">Please select a start date:</h3>
  <div class="container d-flex flex-row justify-content-between align-items-center row mt-3 pb-3">
    <div id="calendar-cont" class="p-0 col-6">

      <div id="calendar">
      </div>
    </div>
    <div class="booking col-5" id="list-price" data-price="<%= @listing.rate_per_day %>">
      <%= simple_form_for [@listing, @booking] do |f| %>
        <%= f.input :start_date, as: :date, input_html: { min: Date.today }, html5: true %>
        <%= f.input :end_date, as: :date, input_html: { min: Date.today }, html5: true %>
        <%= f.input :guests, collection: 1..@listing.capacity %>
        <%= f.input :cost, label: "Cost in SGD", disabled: true %>
        <% if user_signed_in? %>
          <%= f.button :submit, class:"status confirmed w-100" %>
        <% else %>
          <%= f.submit "Please log in to make a booking", class:"status pending w-100", disabled: true %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container-review border-top pt-2 mt-4">
    <h3 class="mb-2 p-0">Reviews</h3>
    <% if @listing_reviews.empty? %>
      <small><em class="text-muted">Be the first one to review this list</em></small>
    <% end %>

    <% @listing_reviews.each do |listing_review| %>
      <div>
        <i class="mb-0"><%= listing_review.user_review %></i>
        <% listing_review.user_rating.times do %>
            <i class="fas fa-star star"></i>
        <% end %>
        <% (5 - listing_review.user_rating).times do %>
            <i class="far fa-star"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="border-top pt-3 my-5">
    <h3 class="mb-2">Where you'll be</h3>
    <div id="map"
      class= "mt-4"
      style="width: 100%; height: 400px; margin: 0 auto;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<%= javascript_pack_tag 'fullcalendar/index' %>
<%= stylesheet_pack_tag 'fullcalendar/index' %>
