<div class="container mt-4" data-controller="tab">
  <h2 id="host-mode" class="mb-4">Host</h2>
  <div class="tabs mb-0">
    <div class="tablinks active" id="btn-upcoming" data-action="click->tab#displayUpcoming">Upcoming</div>
    <div class="tablinks" id="btn-past" data-action="click->tab#displayPast">Past</div>
  </div>

  <div class="tabcontent m-0 p-0" id="upcoming" data-tab-target="tabcontent" >
    <% if @upcoming.length > 0 %>
      <% @upcoming.each do |u| %>
        <div class="m-0 py-3 d-flex flex-column justify-content-between reservation" data-bookingId="<%= u.id %>">
          <div class="m-0 pl-3 mt-2">
                <h4 class="m-0 p-0"><%= "Booking ##{u.id}" %></h4>
          </div>
          <div class="p-0 mb-3 d-flex flex-row justify-content-between">
            <div class = "d-flex flex-row user-info m-0">
              <div class="d-flex align-items-center justify-content-center pl-3">
                <% if u.user.photo.key %>
                  <%= cl_image_tag u.user.photo.key, class: "avatar-large m-0" %>
                <% else %>
                  <%= image_tag "default_user.png", class: "avatar-large m-0"%>
                <% end %>
              </div>
              <div class="pl-4">
                <p class="m-0 p-0 pt-2 text-secondary">
                  <strong>Booking by: </strong>
                  <%= "#{u.user.first_name} #{u.user.last_name}" %>
                </p>
                <p class="m-0 p-0 pt-2 text-secondary"><strong>Duration: </strong><%= "#{u.start_date.strftime('%a %d %b %Y')} to #{u.end_date.strftime('%a %d %b %Y')}" %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><strong>Number of Guests: </strong><%= u.guests %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><strong>Total Cost: $</strong><%= u.cost%></p>
              </div>
            </div>
            <div class="d-flex align-items-center mr-4 review-details">
              <% if u.booking_status == "PENDING" %>
                <div class="status pending d-flex align-items-center">
                  <i class="ml-3 fas fa-seedling"></i>
                  <div class="w-100 d-flex align-items-center justify-content-center">
                    <%= u.booking_status %>
                  </div>
                </div>
            <% else %>
                <div class="status confirmed d-flex align-items-center">
                  <i class="ml-3 fas fa-check"></i>
                  <div class="w-100 d-flex align-items-center justify-content-center">
                    <%= u.booking_status %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="w-100 baction" id="<%= u.id %>">
          <div class="d-flex flex-row w-100 justify-content-center">
            <% if u.booking_status == "PENDING" %>
              <%= button_to 'Confirm', confirm_booking_path(u), class: "status confirmed mx-4" %>
              <%= button_to 'Cancel', cancel_booking_path(u), class: "status cancelled mx-4" %>
            <% else %>
              <%= button_to 'Completed?', complete_booking_path(u), class: "status confirmed mx-4" %>
            <% end %>
          </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="blankboard">
        <p class="py-3">You do not have any upcoming bookings at the moment.</p>
        <img src="https://i.pinimg.com/564x/ac/7d/6f/ac7d6fce293bb87bb949cb69f49ba01b.jpg" alt="">
      </div>
    <% end %>
  </div>


  <div class="tabcontent m-0 p-0" id="past" data-tab-target="tabcontent" >
    <% if @past.length > 0 %>
      <% @past.each do |u| %>
        <div class="m-0 py-3 d-flex flex-column justify-content-between reservation" data-bookingId="<%= u.id %>">
          <div class="m-0 pl-3 mt-2">
                <h4 class="m-0 p-0"><%= "Booking ##{u.id}" %></h4>
          </div>
          <div class="p-0 mb-3 d-flex flex-row justify-content-between">
            <div class = "d-flex flex-row user-info m-0">
              <div class="d-flex align-items-center justify-content-center pl-3">
                <% if u.user.photo.key %>
                  <%= cl_image_tag u.user.photo.key, class: "avatar-large m-0" %>
                <% else %>
                  <%= image_tag "default_user.png", class: "avatar-large m-0"%>
                <% end %>
              </div>
              <div class="pl-4">
                <p class="m-0 p-0 pt-2 text-secondary">
                  <strong>Booking by: </strong>
                  <%= "#{u.user.first_name} #{u.user.last_name}" %>
                </p>
                <p class="m-0 p-0 pt-2 text-secondary"><strong>Duration: </strong><%= "#{u.start_date.strftime('%a %d %b %Y')} to #{u.end_date.strftime('%a %d %b %Y')}" %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><strong>Number of Guests: </strong><%= u.guests %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><strong>Total Cost: $</strong><%= u.cost%></p>
              </div>
            </div>
            <div class="d-flex align-items-center mr-4 review-details">
              <% if !u.review %>
                <% if u.booking_status != "CANCELLED" %>
                  <div class="status pending review d-flex align-items-center">
                    <i class="ml-3 fas fa-seedling"></i>
                    <div class="w-100 d-flex align-items-center justify-content-center">
                      Pending Review
                    </div>
                  </div>
                <% else %>
                  <div class="status cancelled review d-flex align-items-center">
                    <div class="w-100 d-flex align-items-center justify-content-center">
                      <%= u.booking_status %>
                    </div>
                  </div>
                <% end %>
            <% else %>
                <div class="status confirmed review d-flex align-items-center">
                  <i class="ml-3 fas fa-check"></i>
                  <div class="w-100 d-flex align-items-center justify-content-center">
                    Guest Reviewed
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        </div>
      <% end %>
    <% else %>
      <div class="blankboard">
        <p class="py-3">You have no past bookings.</p>
        <img src="https://i.pinimg.com/564x/ac/7d/6f/ac7d6fce293bb87bb949cb69f49ba01b.jpg" alt="">
      </div>
    <% end %>
  </div>
</div>
