<div class="container mt-4" data-controller="tab">
  <h2 class="mb-4">Bookings</h2>
  <div class="tabs mb-0">
    <div class="tablinks active" id="btn-upcoming" data-action="click->tab#displayUpcoming">Upcoming</div>
    <div class="tablinks" id="btn-past" data-action="click->tab#displayPast">Past</div>
  </div>

  <div class="tabcontent m-0 p-0" id="upcoming" data-tab-target="tabcontent" >
    <% if @upcoming.length > 0 %>
      <% @upcoming.each do |u| %>
        <div class="m-0 py-3 d-flex flex-column justify-content-between reservation" data-bookingId="<%= u.id %>">
          <div class="m-0 pl-3 mt-2">
            <%= link_to(u.listing, class: "text-decoration-none") do %>
                <h4 class="m-0 p-0"><%= u.listing.name %></h4>
              <% end %>
          </div>
          <div class="p-0 my-3 d-flex flex-row justify-content-between">
            <div class = "d-flex flex-row user-info m-0">
              <div class="d-flex align-items-center justify-content-center pl-3">
                <% if u.listing.photos.first %>
                  <%= cl_image_tag u.listing.photos.first.key, class:"avatar-square m-0 mr-4 p-0" %>
                <% else %>
                  <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" class="avatar-square m-0 mr-2 p-0" alt="">
                <% end %>
              </div>
              <div class="pl-3">
                <p class="m-0 p-0 pt-2 text-secondary"><%= "Booking ID: #{u.id}" %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><%= "Location: #{u.listing.address}" %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><%= "Duration: #{u.start_date} to #{u.end_date}" %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><%= "Number Of Guests: #{u.guests}" %></p>
                <p class="m-0 p-0 pt-2 text-secondary"><%= "Total Cost: #{u.cost}" %></p>
              </div>
            </div>
            <div class="d-flex align-items-center mr-4 review-details">
              <% if u.booking_status == "PENDING" %>
                <div class="status pending d-flex align-items-center">
                  <i class="ml-3 fas fa-seedling"></i>
                  <div class="w-100 d-flex align-items-center justify-content-center">
                    <%= u.booking_status %>
                  </div>
                </div>
            <% else %>
                <div class="status confirmed d-flex align-items-center">
                  <i class="ml-3 fas fa-check"></i>
                  <div class="w-100 d-flex align-items-center justify-content-center">
                    <%= u.booking_status %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="w-100 baction m-0 p-0" id="<%= u.id %>">
          <div class="d-flex flex-row w-100 justify-content-center m-0 p-0">
            <%= button_to 'Cancel', user_cancel_booking_path(u), class: "status cancelled mx-4" %>
          </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="blankboard">
        <p class="py-3">When you’re ready to start planning your next trip, we’re here to help.</p>
        <img src="https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
      </div>
    <% end %>
  </div>

    <div class="tabcontent m-0 p-0" id="past" data-tab-target="tabcontent" >
      <% if @past.length > 0 %>
        <% @past.each do |u| %>
          <div class="m-0 py-3 d-flex flex-column justify-content-between reservation" data-bookingId="<%= u.id %>">
            <div class="m-0 pl-3 mt-2">
              <%= link_to(u.listing, class: "text-decoration-none") do %>
                  <h4 class="m-0 p-0"><%= u.listing.name %></h4>
                <% end %>
            </div>
            <div class="p-0 my-3 d-flex flex-row justify-content-between">
              <div class = "d-flex flex-row user-info m-0">
                <div class="d-flex align-items-center justify-content-center pl-3">
                  <% if u.listing.photos.first %>
                    <%= cl_image_tag u.listing.photos.first.key, class:"avatar-square m-0 mr-4 p-0" %>
                  <% else %>
                    <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" class="avatar-square m-0 mr-2 p-0" alt="">
                  <% end %>
                </div>
                <div class="pl-3">
                  <p class="m-0 p-0 pt-2 text-secondary"><%= "Booking ID: #{u.id}" %></p>
                  <p class="m-0 p-0 pt-2 text-secondary"><%= "Location: #{u.listing.address}" %></p>
                  <p class="m-0 p-0 pt-2 text-secondary"><%= "Duration: #{u.start_date} to #{u.end_date}" %></p>
                  <p class="m-0 p-0 pt-2 text-secondary"><%= "Number Of Guests: #{u.guests}" %></p>
                  <p class="m-0 p-0 pt-2 text-secondary"><%= "Total Cost: #{u.cost}" %></p>
                </div>
              </div>
              <div class="d-flex align-items-center mr-4 review-details">
                <% if !u.review %>
                  <div class="status pending review d-flex align-items-center">
                    <i class="ml-3 fas fa-seedling"></i>
                    <div class="w-100 d-flex align-items-center justify-content-center">
                      Leave A Review
                    </div>
                  </div>
              <% else %>
                  <div class="status confirmed review d-flex align-items-center">
                    <i class="ml-3 fas fa-check"></i>
                    <div class="w-100 d-flex align-items-center justify-content-center">
                      Review Completed
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="blankboard">
          <p class="py-3">When you’re ready to start planning your next trip, we’re here to help.</p>
          <img src="https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
      <% end %>
    </div>
  </div>
</div>
