<div class="banner banner-image">
  <div>
    <h1>OfficeBnB</h1>
    <p>Find me a place to work in peace!</p>

    <%= form_tag listings_path, method: :get, class: "form-inline ml-2" do %>
    <%= text_field_tag :query, params[:query], class: "form-control text-center border-radius ml-2", placeholder: "Find a place!" %>
    <%= date_field nil, nil, class: "form-control border-radius ml-2", placeholder: "Start date" %>
    <%= date_field nil, nil, class: "form-control border-radius ml-2", placeholder: "End date" %>
    <%= select_tag :guest_number, options_for_select(1..10), class: "form-control border-radius ml-2", prompt: "Guests" %>
    <%= submit_tag "Search", class: "btn btn-success ml-2" %>
    <% end %>

  </div>
</div>
