<div class="container">
  <div class="user_form p-0 my-5 sessions">
    <div class="simple py-5">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn btn-primary mt-2 mb-3 login-btn" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="form_image login">
    </div>
  </div>
</div>
